<div class="table-container">
    <h2>
        Lowest Rated Anime.  Rating: {{lowestRated?.rating}}
    </h2>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{ column }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of ratings">
                <td>
                    {{entry?.title}}
                </td>

                <td>
                    {{entry?.titleEnglish}}
                </td>

                <td>
                    {{entry?.score}}
                </td>

                <td>
                    {{entry?.episodes}}
                </td>

                <td>
                    {{entry?.animeListFinishedDate}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="paginator">
    <button  (click)="goToPreviousPage()" [disabled]="disablePrevious || loadingRatings">
        <span>Previous</span>
    </button>
    <button  (click)="goToNextPage()" [disabled]="disableNext || loadingRatings">
        <span>Next</span>
    </button>
</div>