.count-container {
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    padding: 0 1rem;
}

.title {
    margin-top: 0.25rem;
}

.count {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}