<h1>Genres</h1>

<div class="finishedYear-graphs">
    <div class="graph-component-container">
        <app-line-graph
            [graphData]="finishedYearCountGraph"
            canvasId="finishedYearCountCanvas"
            title="Count of Anime Finished Per Year"
        ></app-line-graph>
    </div>

    <div class="graph-component-container">
        <app-line-graph
            [graphData]="finishedYearAverageGraph"
            canvasId="finishedYearAverageCanvas"
            title="Average Rating of Anime Finished Per Year"
        ></app-line-graph>
    </div>
</div>
