<div id="genre-container">

    <h1>Genres</h1>

    <button class="btn btn-primary" (click)="exportPage();">Export To PDF</button>

    <div class="genre-graphs">
        <div class="graph-component-container">
            <app-bar-graph
                [graphData]="genreCountGraph"
                canvasId="genreCountCanvas"
                title="Count of Anime Per Genre"
            ></app-bar-graph>
        </div>

        <div class="graph-component-container">
            <app-bar-graph
                [graphData]="genreAverageGraph"
                canvasId="genreAverageCanvas"
                title="Average Rating of Anime Per Genre"
            ></app-bar-graph>
        </div>

        <div class="graph-component-container">
            <app-doughnut-graph
                [graphData]="genreFrequencyGraph"
                canvasId="genreFrequencyCanvas"
                title="Frequency of Genre"
            ></app-doughnut-graph>
        </div>
    </div>
</div>
