.doughnut-chart-title {
    text-align: center;
}

.doughnut-chart-container {
    /* display: flex; */
    // display: inline-block;
    position: relative !important; 
    height: 45vh !important; 
    width: 75vw !important;
    // margin-right: 2rem;
}