table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5070a3;
  color: white;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}
  
@media only screen and (max-width: 1000px) {
    table {
      min-width: 1000px;
    }
}
