button {
    margin-bottom: 2rem;
}

.rating-list-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 75vw !important;
}

.graph-component-container {
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 75vw !important;
}

.main-container {
    margin-left: 1rem;
}